
/*-------------panel head ------------------*/
.panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius:10px;
}
.panel span,
.panel .icon-spacer{
  margin:1rem;
}
/*------------------------------------------*/

/*-------------table ------------------*/
.full-width-table {
  width: 100%;
}

/* Centrar todas las celdas de la tabla */
.mat-mdc-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Ajustar el tamaño de una columna específica y centrar su contenido */
.mat-column-name,
.mat-column-age,
.mat-column-actions {
  flex: 1;
}
/*------------------------------------------*/

@media only screen and (max-width: 500px) {
  .panel .icon-spacer{
    display:none;
  }
}
/*------------------------------------------*/
